<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/TP-1-POO-LA2</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">gautier</property>
        <property name="connection.password">26102000</property>

        <mapping class="entite.TCategoriee_"/>
        <mapping class="entite.TCompetencee_"/>
        <mapping class="entite.TCotisationse_"/>
        <mapping class="entite.TMembree_"/>
        <mapping class="entite.TMouvementCompteEcue_"/>
        <mapping class="entite.TPropositione_"/>
        <mapping class="entite.TTalente_"/>
        <mapping class="entite.TTarife_"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>